html, body {
    margin:0;
    height: 100%;
}
.navbar{
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 4001;
}
.navbar ul{
    text-align: center;
  }
.navbar li{
     list-style-type: none;
     display: inline-block;
     font-family: "Calibri";
     letter-spacing: .05em;
     padding-right: 22px;
     padding-left: 20px;
     font-weight: bold;
   }

.navbar a:link {
    text-decoration: none;
    color:white;
  }
  
.navbar a:visited {
    text-decoration: none;
    color:white;
  }
  
.navbar a:hover {
    text-decoration: none;
    color:gray;
  }
  
.navbar a:active {
    text-decoration: none;
    color:white;
  }

#dp{
    border-radius: 50%;
    width:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2),0 4px 8px 0 rgba(0, 0, 0, 0.2);
        
}
#home{
    background-image: url("space.gif");
    height:100%;
    width:100%;    
    font-size: x-large;
    color: white; 
}
#home h1{
    text-align: center;
    letter-spacing: .1em;
    font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    text-shadow: black;
    padding-top:80px;
}
#home p{
    text-align: center;
    letter-spacing: .1em;
    font-family: "Arial Narrow", sans-serif;
    text-shadow: black;
    padding-bottom: 150px;
}
#home a{
    text-align: center;
    margin: 1500px 80px 10px 620px;
    font-size: larger;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
}
#home a:link {
    text-decoration: none;
    color:white;
  }
  
#home a:visited {
    text-decoration: none;
    color:white;
  }
  
#home a:hover {
    text-decoration: none;
    color:gray;
  }
  
#home a:active {
    text-decoration: none;
    color:white;
  }
#summary{    
    background-image: url("sakura.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%; 
}
#about {
    background-color:rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2),0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 55%;
    height: 55%;
    padding:30px 0px 120px 0px;
}
#summary p,a{
    text-align: center;
    color: #4d4d4d; 
    font-family: "Lato", sans-serif;
    letter-spacing: .05em;   
}
.gitlink a{
    padding-right: 40px;
    padding-left: 40px;
    border: solid;
    border-style: double;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gitlink a:link {
    text-decoration: none;
    color:#4d4d4d;
  }
.gitlink a:visited {
    text-decoration: none;
    color:#4d4d4d;
  }
.gitlink a:hover {
    text-decoration: none;
    color: rgba(10, 10, 10, 0.8);
  }
.gitlink a:active {
    text-decoration: none;
    color:#4d4d4d;
  }
#skillset{
    background-color: #f2f2f5;
    height:100%;
    width:100%; 
}
#skillset h3{
    color:black;
    font-size: 35px;
    text-align: center;
    font-family: "Calibri";
    letter-spacing: .15em;
    margin-top:0px; 
    font-weight: lighter;   
}
.skillcard {
    display: inline-block;
    width:150px;
    margin-left: 85px;
    padding:10px 30px 20px 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2),0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.title{
    font-size: large;
}
.container {
    background-color: #ddd;    
  } 

.skills {
    text-align: right;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
  }
.python {width: 80%; background-color: #f38021;}
.html {width: 60%; background-color: rgb(253, 211, 0);}
.css {width: 60%; background-color: #04AA6D;}
.java {width: 60%; background-color: #2196F3;}

.mysql {width: 80%; background-color: #f38021;}
.psql {width: 60%; background-color: #04AA6D;}
.hive {width: 70%; background-color: rgb(253, 211, 0);}
.hbase {width: 60%; background-color: #2196F3;}

.git {width: 60%; background-color: #2196F3;}
.hadoop {width: 70%; background-color: #04AA6D;}
.flask {width: 80%; background-color: #f38021;}
.aws {width: 70%; background-color: rgb(253, 211, 0);}

.pbi {width: 90%; background-color: #f38021;}
.neo {width: 80%; background-color: rgb(253, 211, 0);}
.tblu {width: 60%; background-color: #04AA6D;}
.as {width: 50%; background-color: #2196F3;}

.greenline{
    text-align: center;
    width:5px;
    margin-top:0;
    margin-bottom: 0;
    color:darkgreen;
}

#workex{
    background-color:white;
}
#workex h3{
    font-size: 25px;
    font-family: "Calibri";
    letter-spacing: .09em;
    text-align: center;
}

.timeline1{
    border-left: 6px solid darkgreen;
    height: 660px;
    margin-left: 100px;
    position: absolute;
}

.date{
    font-family: "Calibri";
    background-color:red;
    letter-spacing: .09em;
    margin-left: 100px;
    background-color:white;
    position: relative; 
    z-index: 4000;
    padding-bottom: 15px;
    padding-top: 15px;
}
.company{
    font-family: "Calibri";
    letter-spacing: .09em;
    margin-left: 200px;
    font-weight: bold;  
    background-color:white;  
}
.designation{
    font-style: italic;
    margin-left: 200px;
    font-family: "Calibri";
    letter-spacing: .09em;
    font-weight: light;
    color: darkgreen;
    background-color:white;
}
#workex li{
    font-family: "Calibri";
    letter-spacing: .09em;
    margin-left: 200px;
}
#edu{
    background-color:white;
}
#edu h3{
    font-size: 25px;
    font-family: "Calibri";
    letter-spacing: .09em;
    text-align: center;
}
.timeline2{
    border-left: 6px solid darkgreen;
    height: 190px;
    margin-left: 100px;
    position: absolute;
}
#coursework{
    font-family: "Calibri";
    letter-spacing: .09em;
    margin-left: 200px;
}
#pub{
    background-color:white;
}
#pub h3{
    font-size: 25px;
    font-family: "Calibri";
    letter-spacing: .09em;
    text-align: center;
}
.timeline3{
    border-left: 6px solid darkgreen;
    height: 200px;
    margin-left: 100px;
    position: absolute;
}
#contact{
    height:80%;
    width:100%;
    padding-top:95px;
    padding-bottom: 0px;
}
#contact h3{
    font-size: 25px;
    font-family: "Calibri";
    letter-spacing: .09em;
    text-align: center;
}
#contact h4{
    font-family: "Calibri";
    letter-spacing: .09em;
    text-align: center;
}
.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    padding-top:35px;
}
footer {
    text-align: center;
    padding: 5px;
    color: darkgreen;
  }  